#output
{
    background-color: white;
    border-radius:10px;
    border-top:10px solid #aa4465;
    padding : 10px;
    float:none;
    text-align: left;
    width: 600;
}


#send
{
    width: 200px;
}


#number1
{
    width: 800px;
}

#number2
{
    width: 800px;
}




















